In [117]:
import os
import pandas as pd

file_path = "C:/Users/shahi/Downloads/APEX/Weather.txt"

data = pd.read_csv(file_path, delimiter=",", skiprows=13, skipinitialspace="True")
data=data.drop(labels="# STN", axis=1)
data

      YYYYMMDD  FG  TN   TX    Q  RH  UG
0     20200101  20 -25   23  271   0  98
1     20200102  40  -2   78  109   0  95
2     20200103  53  14  100   65  29  91
3     20200104  42  11   78  102   3  93
4     20200105  33  57   71   89   0  89
...        ...  ..  ..  ...  ...  ..  ..
1822  20241227  16 -16   55  342   0  98
1823  20241228  17  -5    9  130   0  99
1824  20241229  47   8   36   83   7  99
1825  20241230  58  30   59   66   3  97
1826  20241231  70   7   65  124  -1  93

[1827 rows x 7 columns]

In [118]:
data["RH"]=data["RH"].replace(-1, 0)
data[["FG_m/s", "TN_degC", "TX_degC", "RH_mm"]]=data[["FG", "TN", "TX", "RH"]]*0.1
data["Q_MJ/m2"]=data["Q"]*0.01

,YYYYMMDD,FG,TN,TX,Q,RH,UG,FG_m/s,TN_degC,TX_degC,RH_mm,Q_MJ/m2
0,20200101,20,-25,23,271,0,98,2.0,-2.5,2.3,0.0,2.71
1,20200102,40,-2,78,109,0,95,4.0,-0.2,7.8,0.0,1.09
2,20200103,53,14,100,65,29,91,5.3,1.4,10.0,2.9,0.65
3,20200104,42,11,78,102,3,93,4.2,1.1,7.8,0.3,1.02
4,20200105,33,57,71,89,0,89,3.3,5.7,7.1,0.0,0.89
...,...,...,...,...,...,...,...,...,...,...,...,...
1822,20241227,16,-16,55,342,0,98,1.6,-1.6,5.5,0.0,3.42
1823,20241228,17,-5,9,130,0,99,1.7,-0.5,0.9,0.0,1.30
1824,20241229,47,8,36,83,7,99,4.7,0.8,3.6,0.7,0.83
1825,20241230,58,30,59,66,3,97,5.8,3.0,5.9,0.3,0.66
1826,20241231,70,7,65,124,0,93,7.0,0.7,6.5,0.0,1.24

In [132]:
weather=data[["YYYYMMDD","RH_mm", "TN_degC", "TX_degC", "Q_MJ/m2", "FG_m/s", "UG"]]
weather.to_csv("C:/Users/shahi/Downloads/APEX/weather.wth", sep=" ", index=False, header=False)